
.addtask-preview-box
	.box-title
		h4.card-title Xem trước
	.box-content
		include ./task
	.box-title.mt-5
		h4.card-title Chú thích
		hr
	.box-content
		ul
			li 
				strong L:
				span.pl-2 low - độ ưu tiên thấp
			li 
				strong N:
				span.pl-2 normal - độ ưu tiên mặc định
			li 
				strong M:
				span.pl-2 medium - độ ưu tiên trung bình
			li 
				strong H:
				span.pl-2 high - độ ưu tiên cao
			li 
				strong
				span Thời gian của Người thực hiện sẽ được tính từ khi nhiệm vụ được kéo sang bảng thực hiện.
