
.addtask-input-box.card
	.box-title
		h4.card-title Thêm nhiệm vụ
	.box-content
		.row
			.addtask-input-item.col-12
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-lg-6
				.card
					h1 ten
			.addtask-input-item.col-12
				.card
					h1 text
				

			

