.task
	.task-box
		.main-content
			.row
				.col-2.item
					.avatar
						span N
				.col-10.item
					.inner-main-content
						.title 
							span.task-code K-DB-9
							span.task-name Thu Nghiem
						.desc
							p.priority
								i.fa.fa-circle.fa-xs
								span.pl-2 Độ ưu tiên: 
									span.pl-1.priority-value Cao
							p.short-desc Lorem ipsum, dolor sit amet consectetur.
					.extra-features
						a.file-link(href="#") 
							i.fa.fa-file-pdf
							span.pl-2 Xem PDF
						.task-toggle-btn.btn.btn-primary(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
								i.fa.fa-angle-down
		.collapse-content
			#multiCollapseExample1.collapse
				.card.deadline-card
					.row
						.col-4.item.create
							i.fa.fa-play
							date.pl-2 20/10/2018
						.col-4.item.deadline
							i.fa.fa-stop-circle
							date.pl-2 chua xac dinh
						.col-4.item.time-left
							i.fa.fa-hourglass-end
							span.pl-2 chua xac dinh
				.card.creator-card
					.row
						.col-4.item
							p.who
								i.fa.fa-user
								span.creator.pl-2 Bao Nguyen
						.col-4.item.offset-4
							p.time-stamp 6 months ago
				.card.employee-card
					.row
						.col-4.item
							p.who
								i.fa.fa-cog
								span.creator.pl-2 Thanh Tran
						.col-4.item.offset-4
							p.time-stamp 4 months ago
	.task-move-box
		.button.btn.btn-secondary.task-move-btn >
		
