.task 
	.main-content
		.row
			.col-2.item
				.avatar
					span N
			.col-10.item
				.inner-main-content
					.title 
						span.task-code K-DB-9
						span.task-name Thu Nghiem
					.desc
						p Lorem ipsum, dolor sit amet consectetur.
				.extra-features
					p xem pdf
					.btn.btn-primary(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
							i.fa.fa-angle-down
	.collapse-content
		#multiCollapseExample1.collapse
			.card.deadline-card
				.row
					.col-4.item
						date 20/10/2018
					.col-4.item
						date chua xac dinh
					.col-4.item
						date chua xac dinh
			.card.employee-card
				p.who
					i.fa.fa-user
					span Bao Nguyen
				p.time-stamp 6 months ago
			.card
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis laboriosam deserunt, ad dolores pariatur ipsa autem repellat mole
			.card
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis laboriosam deserunt, ad dolores pariatur ipsa autem repellat mole
		
