extends layout

block content
	section.section-addtask.container-fluid
		.addtask-container.container
			.row
				.col-lg-8
					.addtask-input-container
						include ./components/addtask_input
				.col-lg-4
					.addtask-preview-container
						include ./components/addtask_preview
			
