extends layout

block content
	h1= title
	section.section-task.containter-fluid
		.row
			.col-lg-4.tasks-col
				#tasks-mission
					include ./components/taskbox

			.col-lg-4.tasks-col
				#tasks-processing
					include ./components/taskbox

			.col-lg-4.tasks-col
				#tasks-done
					include ./components/taskbox
			