doctype html
html
	head
		title #{title} - FullStack Vietnam
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		//- header
		include header
		//- end header
		main 
			.container-fluid
				.main-layout
					//- side-menu
					.menu-layout
						include menu
					//- end side-menu

					//- main content
					.content-layout.container-fluid
						block content
					//- end main content
		
		include ./_include/_script/script
