
//- menu
.menu
	.list-group
		a.list-group-item.list-group-item-action.item(href="/")
			i.fa.fa-table
		a.list-group-item.list-group-item-action.item(href="/addtask")
			i.fa.fa-plus
		a.list-group-item.list-group-item-action.item(href="/users")
			i.fa.fa-user
		a.list-group-item.list-group-item-action.item(href="/users")
			i.fa.fa-cog
		a.list-group-item.list-group-item-action.item(href="/users")
			i.fa.fa-save
		a.list-group-item.list-group-item-action.item(href="/users")
			i.fa.fa-question
